{% extends "base.twig" %}
{% set title = ["Gerenciador"]|join(' / ') %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ parent() }}

        <!-- CUSTOM -->
        <link href="/libs/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css" rel='stylesheet' type='text/css'>
        <script src="/libs/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>

        <script src="/libs/jquery-tmpl/jquery.tmpl.min.js"></script>

        <script src="/libs/jquery-timeago/jquery.timeago.js"></script>
        <script src="/libs/jquery-timeago/locales/jquery.timeago.pt-br.js"></script>


        <script type="application/javascript">
            var timer = 0;

            function boxInfo(url)
            {
                var _url = '{{ base_url() }}' + url;

                $.ajax({
                    type: "GET",
                    url: _url,
                    dataType: "json",
                    cache: false,
                    success: function(json){
                        $('#box_lastfive_' + json.box.id + ' li').remove();

                        for(var i = 0; i < json.ticket_type.entity.length; i++)
                        {
                            $('#display_next_' + json.ticket_type.entity[i].id).html(json.ticket_type.entity[i].number_next);
                        }


                        $('#display_next_' + json.ticket_type.id).html(json.ticket_type.number_next);

                        if(json.tickets)
                        {
                            $('.box_display #number_' + json.box.id).val(json.tickets[0].number);
                            $('.box_display #type_' + json.box.id).html(json.tickets[0].ticket_type.type);

                            json.tickets.shift();

                            $('#lastfiveTemplate').tmpl(json.tickets).appendTo('#box_lastfive_' + json.box.id);

                            $('#box_lastfive_' + json.box.id + ' time.timeago').timeago();
                        }
                    },
                    complete: function(){
                        timer = setTimeout("boxInfo('" + url + "')", 5000);
                    },
                });
            }


            $( document ).ready(function() {
                $('.selectpicker').selectpicker({
                    width: '130px'
                });

                $('.btn-next').click(function(){
                    var box_id = $(this).parent().data('box-id');
                    var ticket_type_id = $('#box_ticket_type_' + box_id).val();
                    var url = '{{ base_url() }}/box/next/' + box_id;

                    $.ajax({
                        type: "post",
                        url: url,
                        dataType: "json",
                        data: {ticket_type: ticket_type_id},
                        cache: false,
                        success: function(json){
                        },
                        complete: function(){
                        }
                    });
                });

                $('.btn-previous').click(function(){
                    var box_id = $(this).parent().data('box-id');
                    var ticket_type_id = $('#box_ticket_type_' + box_id).val();
                    var url = '{{ base_url() }}/box/previous/' + box_id;

                    console.log(url);

                    $.ajax({
                        type: "post",
                        url: url,
                        dataType: "json",
                        data: {ticket_type: ticket_type_id},
                        cache: false,
                        success: function(json){
                        },
                        complete: function(){
                        }
                    });
                });

                $('.btn-refresh').click(function(){
                    var box_id = $(this).parent().data('box-id');
                    var ticket_type_id = $('#box_ticket_type_' + box_id).val();
                    var url = '{{ base_url() }}/box/refresh/' + box_id;

                    console.log(url);

                    $.ajax({
                        type: "post",
                        url: url,
                        dataType: "json",
                        data: {ticket_type: ticket_type_id},
                        cache: false,
                        success: function(json){
                        },
                        complete: function(){
                        }
                    });
                });
            });
        </script>
        <style type="text/css">
            .box_name p{
                font-weight: bold;
                font-size: 18px;
            }

            .box_display .box_display_type{
                font-weight: bold;
                color: #999999;
            }

            .box_lastfive li {
                font-size: 11px;
            }

            .box_lastfive li time.box_lastfive_date{
                color: #999999;
            }

            .box_lastfive li:first-child span.box_lastfive_number, .box_lastfive li:first-child span.box_lastfive_type
            {
                font-size: 14px;
                font-weight: bold;
            }

            .ticket_type_name{
                font-size: 20px;
                font-weight: bold;;
            }

            .ticket_type_number_next{
                font-size: 20px;
                padding: 10px;
                border: solid 1px;
                margin-top: 20px;
                display: block;
            }
        </style>
        <!-- CUSTOM -->

{% endblock %}
{% block content %}

<script id="lastfiveTemplate" type="text/x-jquery-tmpl">
    <li>
        <p>
            <span class="box_lastfive_number">${number}</span> - <span class="box_lastfive_type">${ticket_type.type}</span><br />
            <time class="box_lastfive_date timeago" datetime="${created_at.date}">${created_at.date}</time>
        </p>
    </li>
</script>

    <div class="row">
        {% for ticket_type in ticket_types.entity %}
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="ticket_type_name">{{ ticket_type.type }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="ticket_type_number_next" id="display_next_{{ ticket_type.id }}">{{ ticket_type.number_next }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="divider">

    <div class="row">
{% for box in boxs %}
        <div class="col-md-2">
            <div class="row box_name">
                <div class="col-md-12">
                    <p class="text-center">{{ box.getName() }}</p>
                </div>
            </div>

            <div class="box_display">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control text-center box_display_number" id="number_{{ box.getId() }}" value="--"  disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="box_display_type" id="type_{{ box.getId() }}">--</span>
                    </div>
                </div>
            </div>

            <hr class="divider">

            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group" role="group" aria-label="..." data-box-id="{{ box.getId() }}">
                        <button type="button" class="btn btn-default btn-previous">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-refresh">
                            <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-next">
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <select class="selectpicker" id="box_ticket_type_{{ box.getId() }}">
                        {% for ticket_type in ticket_types.entity %}
                            <option value="{{ ticket_type.id }}">{{ ticket_type.type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <hr class="divider">

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled box_lastfive" id="box_lastfive_{{ box.getId() }}">
                    </ul>
                </div>
            </div>

        </div>

        <script type="application/javascript">
            boxInfo('{{ path_for('box.info', {'id' : box.getId()}) }}');
        </script>
{% endfor %}
    </div>
{% endblock %}