{% extends "base.twig" %}
{% set title = ["Home"]|join(' / ') %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ parent() }}
        <!-- CUSTOM -->
        <link href="/css/home.css" rel='stylesheet' type='text/css'>

        <script type="application/javascript">
            $(document).ready(function() {
                $('.main-option button').click(function(){
                    $('#ticket_type_id').attr('disabled', 'disabled');
                    $('#box_id').attr('disabled', 'disabled');

                    window.location.href = '/box/' + $('#ticket_type_id').val() + '/' + $('#box_id').val();
                })
            });
        </script>
        <!-- CUSTOM -->
{% endblock %}
{% block content %}

    <div class="row header-descrpition">
        <div class="col-md-4 col-md-offset-4">
            <h1>GUICHÊ</h1>
            <h2>SELECIONE UM A</h2>
            <h3>ABAIXO.</h3>
        </div>
    </div>

    <hr />

    <div class="row main-option">
        <div class="col-md-6 col-xs-6 text-center">
            <label for="ticket_type_id">TIPO</label>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <select id="ticket_type_id" name="ticket_type_id" class="form-control">
                        {% for ticket_type in ticket_types %}
                            <option value="{{ ticket_type.getId() }}">{{ ticket_type.getType() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-6 text-center">
            <label for="box_id">GUICHÊ</label>

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <select id="box_id" name="box_id" class="form-control">
                        {% for box in boxs %}
                            <option value="{{ box.getId() }}">{{ box.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 text-center">
            <button type="button" class="btn btn-default btn-lg">OK</button>
        </div>
    </div>

{% endblock %}